<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miguel's Defence Stuff</title>

    <script src="https://unpkg.com/three@0.125/build/three.min.js"></script>
    <script src="https://unpkg.com/three@0.125/examples/js/controls/OrbitControls.js"></script>
    <script src="https://unpkg.com/three@0.125/examples/js/loaders/GLTFLoader.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container" id="container"></div> 
    
    <div id="gui" class="gui-box">
        <div id="prot-scale" class="gui-box">
            <p><b>Scale</b></p>
            <label for="scale" id="scale-lbl">Scale:</label>
            <input type="range" min="0.1" max="10" step="0.1" value="1" id="scale" name="scale">            
        </div>
        <div id="position" class="gui-box">
            <p><b>Position</b></p>
            <label for="pos-x" id="pos-x-lbl">X:</label>
            <input type="range" min="-30" max="30" step="1" value="0" id="pos-x" name="pos-x">
            <label for="pos-y" id="pos-y-lbl">Y:</label>
            <input type="range" min="-30" max="30" step="1" value="0" id="pos-y" name="pos-y">
            <label for="pos-z" id="pos-z-lbl">Z:</label>
            <input type="range" min="-30" max="30" step="1" value="0" id="pos-z" name="pos-z">
        </div>
        <div id="rotation" class="gui-box">
            <p><b>Rotation</b></p>
            <label for="rot-x" id="rot-x-lbl">X:</label>
            <input type="range" min="-180" max="180" step="1" value="0" id="rot-x" name="rot-x">
            <label for="rot-y" id="rot-y-lbl">Y:</label>
            <input type="range" min="-180" max="180" step="1" value="0" id="rot-y" name="rot-y">
            <label for="rot-z" id="rot-z-lbl">Z:</label>
            <input type="range" min="-180" max="180" step="1" value="0" id="rot-z" name="rot-z">
        </div>
        <div id="helix-width" class="gui-box">
            <p><b>Helix</b></p>
            <label for="rad" id="rad-lbl">Relative Radius:</label>
            <input type="range" min="0.1" max="2" step="0.05" value="0.5" id="rad" name="rad">            
        </div>
    </div>




    <script src="/js/params.js"></script>
    <script src="/js/proteincoords.js"></script>

    <script src="/js/guiutils.js"></script>
    <script src="/js/skyutils.js"></script>
    <script src="/js/groundutils.js"></script>
    <script src="/js/textutils.js"></script>
    <script src="/js/proteinutils.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>