<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miguel's Defence Stuff</title>

    <script src="https://unpkg.com/three@0.125/build/three.min.js"></script>
    <script src="https://unpkg.com/three@0.125/examples/js/controls/OrbitControls.js"></script>
    <script src="https://unpkg.com/three@0.125/examples/js/loaders/GLTFLoader.js"></script>
</head>
<body>
    <div class="container" id="container"></div>    

    <script src="/js/skyutils.js"></script>
    <script src="/js/groundutils.js"></script>
    <script src="/js/textutils.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>